@import "bourbon/bourbon"
@import "neat/neat"

.showhidestuff
  width: 100%
  background: #aaa
  height: 20px
  line-height: 20px
  position: fixed
  top: 0px
  left: 0px
  z-index: 2000
  font-size: 10px
  padding: 0px 20px
  
  a, a:link, a:visited, a:hover, a:active
    color: #fff
    margin-left: 20px
    
.home
  width: 100%
  height: 100%
  background: url(/assets/login/login-bg-vignette.jpg) no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  z-index: 1000
  position: absolute
  
  .home-logo
    width: 650px
    height: 300px
    background: url(/assets/login/logo.svg)
    background-size: 650px 300px
    background-repeat: no-repeat
    position: absolute
    top: 50%
    left: 50%
    margin: -150px 0px 0px -325px

  .home-btn-holder
    width: 100%
    height: 45px
    position: absolute
    bottom: 70px
    left: 0px
    text-align: center
    
    .home-btn-join
      width: 275px
      height: 45px
      line-height: 42px
      font-size: 20px
      color: #fff
      border: 1px solid #fff
      text-align: center
      margin-right: 40px
      display: inline-block
      background: url(/assets/login/btn-bg.png)
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px

    .home-btn-login
      width: 275px
      height: 45px
      line-height: 42px
      font-size: 20px
      color: #fff
      border: 1px solid #fff
      text-align: center
      display: inline-block
      background: url(/assets/login/btn-bg.png)
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px

  .home-overlay-register, .home-overlay-login, .home-overlay-password
    width: 480px
    background: url(/assets/login/overlay-bg.png)
    position: absolute
    top: 50%
    left: 50%
    margin: -325px 0px 0px -240px
    display: none
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1)
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 1)
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 1)
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    border: 1px solid #494948
    padding: 30px 25px
    
    input
      background: transparent
      color: #fff
      border: 1px solid #ccc
      font-weight: 600
      font-family: 'Open Sans', sans-serif
      margin-bottom: 15px
      
      &.error
        border: 1px solid red
      
    button 
      @include button(simple, #000)
      padding: 10px 0px
      margin: 20px auto
      width: 100%

    .home-overlay-register-hdr
      height: 55px
      color: #fff
      font-size: 30px
      position: relative
      font-weight: 600

    .close-btn
      position: absolute
      top: -5px
      right: 0px
      color: #fff
      font-size: 18px
      font-weight: 700  

    .close-btn:hover
      cursor: pointer
      
    .register-terms
      color: #fff
      font-size: 12px
      text-align: center
      
      a:link, a:visited, a:active, a:hover
        color: #fff
        font-weight: 600      

    .tree
      width: 50px
      height: 65px
      background: url(/assets/login/that-tree.svg)
      background-size: 65px 50px
      background-repeat: no-repeat
      float: left
      
    .tree-personalize
      height: 65px
      float: left
      line-height: 50px
      color: #ccc
      font-size: 14px
      margin-left: 20px
      

  .home-overlay
    width: 650px
    height: 450px
    background: url(/assets/login/overlay-bg.png)
    position: absolute
    top: 50%
    left: 50%
    margin: -225px 0px 0px -325px
    display: none
    -webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 1)
    -moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 1)
    box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 1)
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    border-left: 1px solid #494948
    border-right: 1px solid #494948
    border-bottom: 1px solid #494948
    
    .home-overlay-hdr
      width: 648px
      height: 55px
      background: #000
      line-height: 55px
      color: #fff
      font-size: 20px
      text-align: center
      -webkit-border-top-left-radius: 10px
      -webkit-border-top-right-radius: 10px
      -moz-border-radius-topleft: 10px
      -moz-border-radius-topright: 10px
      border-top-left-radius: 10px
      border-top-right-radius: 10px
      border-top: 1px solid #494948
      position: relative

    .close-btn
      position: absolute
      top: -2px
      right: 15px
      color: #fff
      font-size: 18px
      font-weight: 700        
    
    .close-btn:hover
      cursor: pointer
      
    .home-overlay-service
      width: 250px
      height: 50px
      margin: 40px auto
      border: 2px solid #ccc
      padding-left: 70px
      line-height: 45px
      color: #fff
      
      &.facebook
        background: url(/assets/login/icon-facebook.png)
        background-repeat: no-repeat
        background-size: 50px

      &.google
        background: url(/assets/login/icon-google.png)
        background-repeat: no-repeat
        background-size: 50px

      &.twitter
        background: url(/assets/login/icon-twitter.png)
        background-repeat: no-repeat
        background-size: 50px

      &.email
        background: url(/assets/login/icon-email.png)
        background-repeat: no-repeat
        background-size: 50px

    .home-overlay-service:hover
      cursor: pointer
      border: 2px solid #fff
        