doctype html
html(lang="en")
  head
    title eekoh
    link(rel='stylesheet', type='text/css', href='/build.css')
  body
    != content
    script(src='/build.js')
    script.
      require('boot');
