.profile-top
  .profile-top-photo
    a(href='/profile')
      img(src='http://1.bp.blogspot.com/-eh7B7qlNR6U/ULc8ofWeg7I/AAAAAAAAXyg/Bj195OomDLw/s640/cute_cat_bath_07.jpg', alt='Profile Photo', width="138", height="128")

  #profile-top-content
    #profile-top-menu
      a(href='/') eekoh
      a(href='/') Connections
      a(href='/') Deals
    .profile-top-left
      .profile-top-left-name Randi Lamey
      .profile-top-left-position Project Coordinator at eekoh
      .profile-top-left-info
        | Education: Kennasaw State University<br>
        | Location: Hollywood, CA<br>
        | Ranking: 10,000 / 100,000
      
    .profile-top-right
      a(href='/', class="btn") Connect
      a(href='/', class="btn") Chat
      .clear
      
      .profile-top-right-connections
        a(href='/') 4426
        | connections
        
      .profile-top-right-social
        a(href='/', class="facebook")
        a(href='/', class="google")
        a(href='/', class="twitter")
        a(href='/', class="pinterest")
        a(href='/', class="instagram")
        a(href='/', class="linkedin")
        .clear
      
  .profile-top-stage
    .profile-top-stage-name Evergreen Stage
    .profile-top-stage-icon
    
  .profile-top-influencers
    .profile-top-influencers-text Influencers
    .profile-top-influencers-slider-prev
    .profile-top-influencers-slider-next
    .profile-top-influencers-slider-bg
    .profile-top-influencers-slider
      .profile-top-influencers-slider-photo
        a(href='/profile')
          img(src='http://1.bp.blogspot.com/-eh7B7qlNR6U/ULc8ofWeg7I/AAAAAAAAXyg/Bj195OomDLw/s640/cute_cat_bath_07.jpg', alt='Profile Photo', width="58", height="53")
      .profile-top-influencers-slider-photo
        a(href='/profile')
          img(src='http://1.bp.blogspot.com/-eh7B7qlNR6U/ULc8ofWeg7I/AAAAAAAAXyg/Bj195OomDLw/s640/cute_cat_bath_07.jpg', alt='Profile Photo', width="58", height="53")
      .profile-top-influencers-slider-photo
        a(href='/profile')
          img(src='http://1.bp.blogspot.com/-eh7B7qlNR6U/ULc8ofWeg7I/AAAAAAAAXyg/Bj195OomDLw/s640/cute_cat_bath_07.jpg', alt='Profile Photo', width="58", height="53")
    .profile-top-influencers-info
      a(href='/', class="name") Jonathan "Lil' Meowzers" Bruckridge<br>
      | Sherman Oaks, CA | Bonsai Stage<br>
      a(href='/', class="connect") + Connect
  .clear
  
.profile-content
  .profile-content-padding
    .menu Welcome to Randi's eekoh system:
      a(href="#", class="active") eekoh all (99)
      a(href="#") Brands (99)
    .links
      .col
        .type.news
          .number.news 8
          .name.news News
        a(href="#", class="brand")
          img(src="http://1.bp.blogspot.com/-eh7B7qlNR6U/ULc8ofWeg7I/AAAAAAAAXyg/Bj195OomDLw/s640/cute_cat_bath_07.jpg", width="90", height="70")
          .hover
        a(href="#", class="brand")
          img(src="http://1.bp.blogspot.com/-eh7B7qlNR6U/ULc8ofWeg7I/AAAAAAAAXyg/Bj195OomDLw/s640/cute_cat_bath_07.jpg", width="90", height="70")
      .col
        .type.entertainment
          .number 8
          .name.entertainment Entertainment
        a(href="#", class="brand")
          img(src="http://1.bp.blogspot.com/-eh7B7qlNR6U/ULc8ofWeg7I/AAAAAAAAXyg/Bj195OomDLw/s640/cute_cat_bath_07.jpg", width="90", height="70")
        a(href="#", class="brand")
          img(src="http://1.bp.blogspot.com/-eh7B7qlNR6U/ULc8ofWeg7I/AAAAAAAAXyg/Bj195OomDLw/s640/cute_cat_bath_07.jpg", width="90", height="70")
      .col
        .type.politics
          .number 8
          .name.politics Politics
        a(href="#", class="brand")
          img(src="http://1.bp.blogspot.com/-eh7B7qlNR6U/ULc8ofWeg7I/AAAAAAAAXyg/Bj195OomDLw/s640/cute_cat_bath_07.jpg", width="90", height="70")
        a(href="#", class="brand")
          img(src="http://1.bp.blogspot.com/-eh7B7qlNR6U/ULc8ofWeg7I/AAAAAAAAXyg/Bj195OomDLw/s640/cute_cat_bath_07.jpg", width="90", height="70")
      .col
        .type.sports
          .number 8
          .name.sports Sports
      .col
        .type.lifestyle
          .number 8
          .name.lifestyle Lifestyle
      .col
        .type.edutech
          .number 8
          .name.edutech Edutech
      .col
        .type.business
          .number 8
          .name.business Business
      .clear
    
    