.profile-top
  .profile-top-photo
    a(href='/profile')
      img(src='http://1.bp.blogspot.com/-eh7B7qlNR6U/ULc8ofWeg7I/AAAAAAAAXyg/Bj195OomDLw/s640/cute_cat_bath_07.jpg', alt='Profile Photo', width="140", height="130")

  #profile-top-content
    #profile-top-menu
      a(href='/') eekoh
      a(href='/') Connections
      a(href='/') Deals
    .profile-top-left
      .profile-top-left-name Randi Lamey
      .profile-top-left-position Project Coordinator at eekoh
      .profile-top-left-info
        | Education: Kennasaw State University<br>
        | Location: Hollywood, CA<br>
        | Ranking: 10,000 / 100,000
      
    .profile-top-right
      a(href='/', class="btn") Connect
      a(href='/', class="btn") Chat
      .clear
      
      .profile-top-right-connections
        a(href='/') 4426
        | connections
        
      .profile-top-right-social
      
  .profile-top-stage
    .profile-top-stage-name Evergreen Stage
  .profile-top-influencers
    .profile-top-influencers-text Influencers
  .clear