.sidebar-wrap
  .sidebar
    h3.title Topics
    ul
      li  
        a(href='/')  News
      li  
        a(href='/')  Entertainment
      li  
        a(href='/')  Politics
      li  
        a(href='/')  Sports
      li  
        a(href='/')  Edutech
      li  
        a(href='/')  Business
      li  
        a(href='/')  Lifestyle
