.article-page
  .article-page-hdr
    .photo
      img(src="http://1up.fm/wp/wp-content/uploads/2014/02/Lakers.png", width="176", height="176")
    .info
      .name Lakers
      .divider
      .author
        | by 
        a(href="#", class="system") Ali
      .date May 28, 2014 at 10:13 am
      .source Source: espn.com
    .social
      a(href="#", class="system") 
      a(href="#", class="page") 
      a(href="#", class="discuss") 
      a(href="#", class="share") 
      a(href="#", class="chop") 
    .clear
  .article-page-content
    | Bacon ipsum dolor sit amet jowl t-bone tail cow, pork loin strip steak flank. Strip steak pastrami pork doner corned beef, jerky bresaola. Meatball ball tip ham tenderloin boudin. Frankfurter doner turducken, filet mignon drumstick strip steak beef kielbasa pig leberkas prosciutto ball tip landjaeger corned beef. Beef spare ribs ham, capicola ground round corned beef porchetta kevin tenderloin t-bone fatback.
  .article-page-brands-hdr Choose brands to receive deals
  .article-page-brands
    .brand
      img(src="http://counterkicks.com/wp-content/uploads/2010/10/nike-swoosh.jpg", width="170", height="85")
    .brand
      img(src="http://counterkicks.com/wp-content/uploads/2010/10/nike-swoosh.jpg", width="170", height="85")
    .brand
      img(src="http://counterkicks.com/wp-content/uploads/2010/10/nike-swoosh.jpg", width="170", height="85")
    .clear
  .article-page-discuss-hdr
    a(href="#") Everyone
    a(href="#") Connections
    a(href="#") Interests
  .article-page-discuss
    .photo
      img(src="http://1up.fm/wp/wp-content/uploads/2014/02/Lakers.png", width="55", height="50")
    .content
      .name
        a(href="#") Lil Meowzers
      .comment
        input(type="text", placeholder="Enter your comment..", name="article-comment", id="article-comment")
        button(value="Comment") Comment

.article-page-sidebar
  .source-holder
    .source-hdr Choose Source
    .source.active
      img(src="http://counterkicks.com/wp-content/uploads/2010/10/nike-swoosh.jpg", width="65", height="50")
    .source
      img(src="http://counterkicks.com/wp-content/uploads/2010/10/nike-swoosh.jpg", width="65", height="50")
    .source
      img(src="http://counterkicks.com/wp-content/uploads/2010/10/nike-swoosh.jpg", width="65", height="50")
    .clear
  .related-hdr  Related Articles
    a(href="#") View all

  .related-article
    .image
      img(src="http://counterkicks.com/wp-content/uploads/2010/10/nike-swoosh.jpg", width="242", height="120")
    .hdr Why hello there
      .arrow
    .excerpt Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! 

  .related-article
    .image
      img(src="http://counterkicks.com/wp-content/uploads/2010/10/nike-swoosh.jpg", width="242", height="120")
    .hdr Why hello there
      .arrow
    .excerpt Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! Hello World! 
    
    