.navbar
  .col.col-left
    a(class='brand', href='vps.eekoh.me')
      img(src="http://vps.eekoh.me/images/logo.png")

  .col
    form(name="input", action="_self", method="get")
      .input-group.input-xl    
        input(type="text", name="search")
