.chat-window
.navbar
  a(href='/', class="brand-wrap")
  .search-wrap
    .form-wrap
      form(name='input', action='_self', method='get')
        input(type='text', name='search', placeholder='Discover ...')
        button(type='submit', class='btn-link')
          != svg('/assets/navbar/search.svg')
  .tree
  .action-wrap
    .action-container
      .messages
        .active 02
      .notifications
        .active 02
      .deals
        .active 02
      .settings

.submenu
  .submenu-holder
    .dropdown Menu
    .calendar
      a(href='/' class="active") 22 apr
      a(href='/') 22 apr
      a(href='/') 22 apr
      a(href='/') 22 apr
      a(href='/') 22 apr
    .chat-status Chat

script(src="//code.jquery.com/jquery-2.1.0.min.js")

script(type='text/javascript').
  $('.chat-status').click(function() {
    $('.chat-window').toggleClass('active');
  });

  $('.action-container .messages').click(function() {
    $('.notifications-messages-holder').toggle();
  });
