.chat-window
  .chat-window-seeall See all
  .chat-window-entry
    .chat-window-photo
       a(href='/profile')
         img(src="http://media2.s-nbcnews.com/i/streams/2013/September/130918/4B9057131-130918-cat-mouse-tease-440p.jpg", width=50, height=50)
    .chat-window-content
      .chat-window-name Patrick Alan
      .chat-window-text New 1D song rocks!!
      .chat-window-date 35 min
    .clear

  .chat-window-entry.odd
    .chat-window-photo
       a(href='/profile')
         img(src="http://media2.s-nbcnews.com/i/streams/2013/September/130918/4B9057131-130918-cat-mouse-tease-440p.jpg", width=50, height=50)
    .chat-window-content
      .chat-window-name Patrick Alan
      .chat-window-text New 1D song rocks!!
      .chat-window-date 35 min
    .clear
