extends layout

block content
  include /notifications/partial
  include /profile/partial
  include /chatwindow/partial
  include /navbar/partial
  include /sidebar/partial
  include /masonry/partial
  include /articles/partial
  include /login/partial
  include /lumberyard/partial
  include /notificationspage/partial
  include /registration/partial
  include /scripts/partial
  include /inbox/partial
