extends layout

block content
  include /notifications/partial
  include /profile/partial
  include /chatwindow/partial
  include /navbar/partial
  include /sidebar/partial
  include /masonry/partial
  include /login/partial
