doctype html
html(lang="en")
  head
    title eekoh

    link(rel='stylesheet', type='text/css', href='/build.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic')

    block head
  body
    block content

    script(src='/build.js')
    script.
      require('app');
    script(src='http://localhost:35729/livereload.js')
