.overlay
  .overlay-photo
    .hdr Add / Edit photo
      a(href="#", id="overlayclose") X
      .clear
    .holder
      .info
        | <b>Adjust photo</b>
        | <br>Drag your photo to the blue square to size. 
        a(href="#") Change photo.
      .photos
        .bigone
        .smallone
        .clear
    .divider
    .buttons
      .cancel Cancel
      .save Save
      .clear
              
.registration-nav
  a(href="#", id="reg01" class="active") Step 1 - Complete your profile
  a(href="#", id="reg02") Step 2 - Choose your topics
  a(href="#", id="reg03") Step 3 - Add connections

.registration-page
  .label First Name*:
  .input
    input(type="text", id="firstname")
  .clear
  .label Last Name*:
  .input
    input(type="text", id="lastname")
  .clear
  .label Screen Name:
  .input.checkbox
    input(type="text", id="screenname")
    input(type="checkbox", name="use-fullname", class="checkbox")
    | Use full name
    input(type="checkbox", name="use-screenname", class="checkbox")
    | Use screen name
   .clear
  .label E-mail:
  .input
    input(type="text", id="email")
  .clear
  .label Gender:
  .input
    input(type="text", id="gender")
  .clear
  .label Date of birth*:
  .input
    input(type="text", id="dob")
  .clear
  .label Education:
  .input
    input(type="text", id="education")
  .clear
  .label Work:
  .input
    input(type="text", id="work")
  .clear
  .label Position:
  .input
    input(type="text", id="position")
  .clear
  .edit-photo
  .buttons
    .save Save
    .cancel Cancel
    .clear


.registration-page2
  .hdr
    | <b>Choose your topics</b>
    | (must pick minimum of 3 topics)
  .links
    div.type.news
      .number 8
      .name News
    div.type.entertainment
      .number 8
      .name Entertainment
    div.type.politics
      .number 8
      .name Politics
    div.type.sports
      .number 8
      .name Sports
    div.type.lifestyle
      .number 8
      .name Lifestyle
    div.type.edutech
      .number 8
      .name Edutech
    div.type.business
      .number 8
      .name Business
  .buttons
    .save Save
    .cancel Cancel
    .clear
