.notifications-nav
  a(href="#", id="not-nav-all", class="active") All Notifications (99)
  a(href="#", id="not-nav-requests") Requests (99)
  a(href="#", id="not-nav-alerts") Alerts (99)

.notifications-page
