.notifications-nav
  a(href="#", id="not-nav-all", class="active") All Notifications (99)
  a(href="#", id="not-nav-requests") Requests (99)
  a(href="#", id="not-nav-alerts") Alerts (99)

.notifications-page

  .notification
    .notifications-alerts-name
      a(href='#', class="deal") Connection request
    .photo
      img(src="http://www.capitalfm.co.ke/campus/wp-content/uploads/2013/08/billgates.jpg", width="", height="")
    .info
      .name 
        a(href="#") Steve Morales
        |  | Evergreen Stage
      .location North Hollywood, CA
      .connections 3,921 connections
      .time 5 min
    .buttons
      a(href="#", class="accept") Accept
      a(href="#", class="deline") Decline

  .notification
    .notifications-alerts-name
      a(href='#', class="deal") Jonathan Bruckridge sent a deal
    .photo
      img(src="http://www.capitalfm.co.ke/campus/wp-content/uploads/2013/08/billgates.jpg", width="", height="")
    .info
      .name 
        a(href="#") Steve Morales
        |  | Evergreen Stage
      .location North Hollywood, CA
      .connections 3,921 connections
      .time 5 min
    .buttons
      a(href="#", class="accept") Accept
      a(href="#", class="deline") Decline

  .notification
    .notifications-alerts-name
      a(href='#', class="brand") Jonathan Bruckridge suggested a brand
    .photo
      img(src="http://www.capitalfm.co.ke/campus/wp-content/uploads/2013/08/billgates.jpg", width="", height="")
    .info
      .name
        | Add 
        a(href="#") Prada 
        | to your system. 
      .time 5 min
    .buttons
      a(href="#", class="accept") Accept
      a(href="#", class="deline") Decline

  .notification
    .photo
      img(src="http://www.capitalfm.co.ke/campus/wp-content/uploads/2013/08/billgates.jpg", width="", height="")
    .info
      .name
        a(href="#") Maxine Liu 
        | accepted your friend request.
      .time 5 min
