.lumberyard-nav
  a(href="#", class="active") Lumberyard All (99)
  a(href="#") Articles (99)
  a(href="#") Brands (99)
  a(href="#") Interests (99)

.lumberyard
  .dateline
    .date Apr 22
    .category Articles
    .search
      input(type='text', name='search', placeholder='Search..' id="lumber-searchbar")
    .clear
  .articles-holder
    .lumber-article
      .hdr Patrick scores big time!
      .excerpt Bacon ipsum dolor sit amet pork loin short ribs shoulder...
      .add-btn
      .image
        img(src="http://static.wixstatic.com/media/2499f8_34941f184ea14f5793de65a3eae43ead.jpg", width="115", height="75")
      .arrow
    .lumber-article
      .hdr Patrick scores big time!
      .excerpt Bacon ipsum dolor sit amet pork loin short ribs shoulder...
      .add-btn
      .image
        img(src="http://static.wixstatic.com/media/2499f8_34941f184ea14f5793de65a3eae43ead.jpg", width="115", height="75")
      .arrow
    .lumber-article
      .hdr Patrick scores big time!
      .excerpt Bacon ipsum dolor sit amet pork loin short ribs shoulder...
      .add-btn
      .image
        img(src="http://static.wixstatic.com/media/2499f8_34941f184ea14f5793de65a3eae43ead.jpg", width="115", height="75")
      .arrow
    .lumber-article
      .hdr Patrick scores big time!
      .excerpt Bacon ipsum dolor sit amet pork loin short ribs shoulder...
      .add-btn
      .image
        img(src="http://static.wixstatic.com/media/2499f8_34941f184ea14f5793de65a3eae43ead.jpg", width="115", height="75")
      .arrow
    .lumber-article
      .hdr Patrick scores big time!
      .excerpt Bacon ipsum dolor sit amet pork loin short ribs shoulder...
      .add-btn
      .image
        img(src="http://static.wixstatic.com/media/2499f8_34941f184ea14f5793de65a3eae43ead.jpg", width="115", height="75")
      .arrow
    .clear

  .dateline
    .date
      | &nbsp;
    .category Brands
    .search
      input(type='text', name='search', placeholder='Search..' id="lumber-searchbar")
    .clear
  .articles-holder
    .lumber-brand
      .brand-overlay
      .brand
        img(src="http://media.tumblr.com/tumblr_m0rr78tj5L1qil7jo.jpg", width="98", height="80")
    .lumber-brand
      .brand-overlay
      .brand
        img(src="http://media.tumblr.com/tumblr_m0rr78tj5L1qil7jo.jpg", width="98", height="80")
    .lumber-brand
      .brand-overlay
      .brand
        img(src="http://media.tumblr.com/tumblr_m0rr78tj5L1qil7jo.jpg", width="98", height="80")
    .lumber-brand
      .brand-overlay
      .brand
        img(src="http://media.tumblr.com/tumblr_m0rr78tj5L1qil7jo.jpg", width="98", height="80")
    .clear      
    
    
  .dateline
    .date
      | &nbsp;
    .category Interests
    .search
      input(type='text', name='search', placeholder='Search..' id="lumber-searchbar")
    .clear
  .articles-holder
    .lumber-brand
      .brand-overlay
      .brand
        img(src="http://media.tumblr.com/tumblr_m0rr78tj5L1qil7jo.jpg", width="98", height="80")
    .lumber-brand
      .brand-overlay
      .brand
        img(src="http://media.tumblr.com/tumblr_m0rr78tj5L1qil7jo.jpg", width="98", height="80")
    .lumber-brand
      .brand-overlay
      .brand
        img(src="http://media.tumblr.com/tumblr_m0rr78tj5L1qil7jo.jpg", width="98", height="80")
    .lumber-brand
      .brand-overlay
      .brand
        img(src="http://media.tumblr.com/tumblr_m0rr78tj5L1qil7jo.jpg", width="98", height="80")
    .clear 
    
  .dateline
    .date Apr 22
    .category Articles
    .search
      input(type='text', name='search', placeholder='Search..' id="lumber-searchbar")
    .clear
  .articles-holder
    .lumber-article
      .hdr Patrick scores big time!
      .excerpt Bacon ipsum dolor sit amet pork loin short ribs shoulder...
      .add-btn
      .image
        img(src="http://static.wixstatic.com/media/2499f8_34941f184ea14f5793de65a3eae43ead.jpg", width="115", height="75")
      .arrow
    .lumber-article
      .hdr Patrick scores big time!
      .excerpt Bacon ipsum dolor sit amet pork loin short ribs shoulder...
      .add-btn
      .image
        img(src="http://static.wixstatic.com/media/2499f8_34941f184ea14f5793de65a3eae43ead.jpg", width="115", height="75")
      .arrow
    .clear 
         