// messages

.notifications-messages-holder
  .notifications-messages-hdr Inbox: 
    a(href='#') All (100)
    a(href='#') Inbox (50)
    a(href='#') Discussions (50)

    .notifications-messages-arrow
    
  .notifications-messages-entry
    .notifications-messages-name
      a(href='#') Jonathan Bruckridge
    .notifications-messages-content
      .notifications-messages-photo
         a(href='/profile')
           img(src="http://media2.s-nbcnews.com/i/streams/2013/September/130918/4B9057131-130918-cat-mouse-tease-440p.jpg", width=50, height=50)
      .notifications-messages-info
        .notifications-messages-date
          a(href='/messages', class="chat") 11:07 AM
        .notifications-messages-body OMG Did you see the new One Direction video?? Sooo cute!!!
      .clear
        
  .notifications-messages-entry
    .notifications-messages-name
      a(href='#') Jonathan Bruckridge
    .notifications-messages-content
      .notifications-messages-photo
         a(href='/profile')
           img(src="http://media2.s-nbcnews.com/i/streams/2013/September/130918/4B9057131-130918-cat-mouse-tease-440p.jpg", width=50, height=50)
      .notifications-messages-info
        .notifications-messages-date
          a(href='/messages', class="chat") 11:07 AM
        .notifications-messages-body OMG Did you see the new One Direction video?? Sooo cute!!!
      .clear
        
  .notifications-messages-seeall
    a(href='/messages') See all

// alerts

.notifications-alerts-holder
  .notifications-alerts-hdr Notifications: 
    a(href='#') Requests (100)
    a(href='#') Alerts (50)

    .notifications-alerts-arrow

  .notifications-alerts-entry
    .notifications-alerts-name
      a(href='#', class="deal") Jonathan Bruckridge sent a deal
    .notifications-alerts-content
      .notifications-alerts-photo
         a(href='/profile')
           img(src="http://media2.s-nbcnews.com/i/streams/2013/September/130918/4B9057131-130918-cat-mouse-tease-440p.jpg", width=50, height=50)
      .notifications-alerts-info
        .notifications-alerts-body OMG Did you see the new One Direction video?? Sooo cute!!!
        .notifications-alerts-date
          a(href='/messages', class="chat") 11:07 AM
        .notifications-alerts-btns
          a(href='/messages', class="accept") Accept
          a(href='/messages', class="decline") Decline
      .clear

  .notifications-alerts-entry
    .notifications-alerts-name
      a(href='#', class="discussion") Discussions request
    .notifications-alerts-content
      .notifications-alerts-photo
         a(href='/profile')
           img(src="http://media2.s-nbcnews.com/i/streams/2013/September/130918/4B9057131-130918-cat-mouse-tease-440p.jpg", width=50, height=50)
      .notifications-alerts-info
        .notifications-alerts-body OMG Did you see the new One Direction video?? Sooo cute!!!
        .notifications-alerts-date
          a(href='/messages', class="chat") 11:07 AM
        .notifications-alerts-btns
          a(href='/messages', class="accept") Accept
          a(href='/messages', class="decline") Decline
      .clear

  .notifications-alerts-entry
    .notifications-alerts-name
      a(href='#', class="brand") Jonathan Bruckridge suggested a brand
    .notifications-alerts-content
      .notifications-alerts-photo
         a(href='/profile')
           img(src="http://media2.s-nbcnews.com/i/streams/2013/September/130918/4B9057131-130918-cat-mouse-tease-440p.jpg", width=50, height=50)
      .notifications-alerts-info
        .notifications-alerts-body OMG Did you see the new One Direction video?? Sooo cute!!!
        .notifications-alerts-date
          a(href='/messages', class="chat") 11:07 AM
        .notifications-alerts-btns
          a(href='/messages', class="accept") Accept
          a(href='/messages', class="decline") Decline
      .clear

  .notifications-alerts-seeall
    a(href='/alerts') See all


// deals

.notifications-deals-holder
  .notifications-deals-hdr Deals
    .notifications-deals-arrow
  .notifications-text
    | This part of the forest has not been finished.<br>
    | Check back soon.